@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font: "Poppins", sans-serif;
    --background: 206 37% 96%;
    --foreground: 172 0% 63%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --code-label: 19 86% 94%;
    --code-label-foreground: 24 99% 48%;
    --primary: 172 26% 30%;
    --primary-foreground: 300 100% 100%;
    --secondary: 24 99% 48%;
    --secondary-foreground: 300 100% 100%;
    --pending: 0 0% 34%;
    --success: 128 52% 33%;
    --theme-1: #FE0000;
    --theme-2: #FD5308;
    --theme-3: #FB9900;
    --theme-4: #F9BC02;
    --theme-5: #0490CF;
    --theme-6: #4AB102;
    --theme-7: #BDD800;
    --theme-8: #FFFF00;
    --theme-9: #0000FE;
    --theme-10: #4001A7;
    --theme-11: #C90044;
    --theme-12: #F300F4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: var(--font);
  }
  h1,h2,h3 {
    @apply font-bold
  }
}

@layer components {
  .body {
    @apply relative w-full md:w-[500px] md:mx-auto min-h-screen bg-background text-foreground
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .btn-primary {
    @apply bg-primary text-primary-foreground rounded-md py-2 px-3 font-semibold
  }

  .btn-secondary {
    @apply bg-secondary text-secondary-foreground rounded-md py-2 px-3 font-semibold
  }

  .input-field {
    @apply bg-transparent focus:border-none focus:outline-none w-full
  }

  .label-input {
    @apply font-semibold text-center
  }

  .form {
    @apply flex flex-col max-w-[80%] min-[370px]:max-w-[70%] text-xs min-[370px]:text-base mx-auto
  }

  .link {
    @apply text-blue-600 underline font-semibold
  }

  .code-label {
    @apply bg-code_label text-code_label-foreground px-3 py-1 rounded-md border border-code_label-foreground font-semibold
  }

  .card {
    @apply bg-white rounded-2xl px-4 py-7 mr-3 min-h-[200px]
  }

  .accordion-item {
    @apply mb-5
  }

  .accordion-item.open .accordion-content {
    @apply block
  }

  .accordion-item.open span {
    @apply rotate-90
  }

  .accordion-button {
    @apply flex items-center gap-x-2 text-primary cursor-pointer
  }

  .accordion-content {
    @apply hidden pl-7 pr-5 mt-1
  }

  .setting-item {
    @apply bg-primary border-b border-b-slate-400 text-xs min-[370px]:text-base
  }

  .setting-item.open .setting-content {
    @apply block
  }

  .setting-item.open .setting-button span {
    @apply -rotate-90
  }

  .setting-button {
    @apply p-3 font-semibold flex items-center text-white justify-between cursor-pointer
  }

  .setting-content {
    @apply bg-white p-5 hidden
  }

  .modal {
    @apply absolute bg-black/20 p-5 inset-0 hidden
  }

  .modal.open {
    @apply block
  }

  .color-item {
    @apply h-10 border border-black rounded-md
  }

  .color-item div {
    @apply hidden
  }

  .color-item.active {
    @apply flex justify-center items-center
  }

  .color-item.active div {
    @apply flex justify-center items-center
  }

  .theme-1 {
    background-color: var(--theme-1);
  }

  .theme-2 {
    background-color: var(--theme-2);
  }

  .theme-3 {
    background-color: var(--theme-3);
  }

  .theme-4 {
    background-color: var(--theme-4);
  }

  .theme-5 {
    background-color: var(--theme-5);
  }

  .theme-6 {
    background-color: var(--theme-6);
  }

  .theme-7 {
    background-color: var(--theme-7);
  }

  .theme-8 {
    background-color: var(--theme-8);
  }

  .theme-9 {
    background-color: var(--theme-9);
  }

  .theme-10 {
    background-color: var(--theme-10);
  }

  .theme-11 {
    background-color: var(--theme-11);
  }

  .theme-12 {
    background-color: var(--theme-12);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-pagination {
  bottom: 0 !important;
}